<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" v-bind:class="name">{{num}}</p>
        <!--<p id="abc1234">{{num}}</p>-->
        <p>{{dbNum}}</p>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading">
            Loading...
            <!-- v-show 는 flase면 css display: none;으로 숨기고
            v-if는 false면 아예 DOM에서 사라짐 -->
        </div>
        <!-- TODO: 인풋 박스를 만들고 입력된 값을 p태그에 출력해보자 -->
        <!-- vue.js.org 공식문서에서 키워드 검색 -->
        <input type="text" v-model="message">
        <p>Message is {{message}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: '',
            },
            computed: { //계산된 속성
                dbNum: function(){
                    return this.num * 2;
                }
            }
        });
    </script>
</body>
</html>